:root {
  --text: 222;
}
$blueHex: #87ceea;
$blueRgb: rgba(135, 206, 234, 255);
$greenHex: #63e38a;
$greenRgb: rgba(99, 227, 138, 255);
$darkBlueHex: #05193c;
$darkBlueRgb: rgba(5, 25, 60, 255);
$whiteHex: #e3ecef;
$whiteRgb: rgba(234, 236, 239, 255);
